[Desktop Entry]
Type=Application
Name=fi
Comment=Local-first schema-driven collections
Exec=fi
Icon=com.wochap.fi
StartupWMClass=com.wochap.fi
Categories=Utility;
Terminal=false
